*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
.nav__bar{
  height: 100vh;
  font-size: 2rem;
  width: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #000814;
}
.nav{
  
  color: #fff2;
  font-size: 20px;
} 