*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background:#020a0e;
  
}
a{
  
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
    
nav{
  position:relative;
  width: 524px;
  height: 50px;
  bacground: #222;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  /* flex-wrap:wrap; */
}
  
nav a{
  position: relative;
  display: inline-block;
  font-size:1.5rem;
  font-weight:500;
  color:#f0cb46;
  text-decoration:none;
  padding:0 23px;
  z-index:1;
}

nav span{
  position: absolute;
  top: 0;
  left: -45px;
  width: 95px;
  height: 100%;
  background: linear-gradient(45deg, #FF4191, #DD0A35);
  border-radius:8px;
  transition: .5s;
}

nav a:nth-child(1):hover ~ span{
  left: -45px;
}

nav a:nth-child(2):hover ~ span{
  left: 70px;
}
nav a:nth-child(3):hover ~ span{
  left: 180px;
  width: 110px;
}
nav a:nth-child(4):hover ~ span{
  left:310px;
  width: 115px;
}
nav a:nth-child(5):hover ~ span{
  left: 455px;
  width: 110px;
}






// Another code for trial
